<% event = notification.source %>

<strong class="overflow-ellipsis notification__title txt-small txt-tight-lines"><%= event_notification_title(event) %></strong>
<div class="overflow-ellipsis txt-small txt-tight-lines">
  <%= event_notification_body(event) %>
</div>
